@inherits LayoutComponentBase

<div class="mox-app">
    <Navbar />
    <main class="mox-main">
        @Body
    </main>
    <Footer />
    <Toast />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">&#x1f5d9;</a>
</div>
